In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('df_2017-dublin-marathon.pkl')
df.head()

,hashedid,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,startlatapprox,startlngapprox,cumulative_elevation_gain,cumulative_elevation_loss,...,geom,geog,distance_100,time_100,elevation_100,cadence_100,heartrate_100,pace_diff_100,pace_cumul_100,gap_100
0,9a344e1b10a653c2cee3d40cabd615d46d2604198b15bb...,197b3e2a67167805191c315e64640e5b3aa0dae4a7cba3...,2017-10-29 09:10:29,2017-10-29 09:10:29,42311.3,271.600,53.33,-6.25,235.0,187.0,...,0101000020E610000000000000000019C0000000803DAA...,0101000020E610000000000000000019C0000000803DAA...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 38.98845, 75.44795, 112.36312, 143.05545...","[18.3, 17.900051, 17.956602, 17.997967, 17.303...",[],"[124.0, 138.00153, 158.49796, 172.15256, 183.9...","[1e-05, 6.682236, 6.02834, 5.416158, 4.943549,...","[25.0, 6.498075, 6.287327, 6.242397, 5.960643,...","[0.0, 6.828764, 6.009906, 5.404039, 5.133536, ..."
1,9eab2135ab8c8182d2e6eb36c87606efa3418d31a7b152...,85ab08865f60f548c2a362aeadf7d2fac801b0b75d0c21...,2017-10-29 09:10:39,2017-10-29 09:10:39,42461.3,269.913,53.33,-6.25,221.0,202.0,...,0101000020E610000000000000000019C0000000803DAA...,0101000020E610000000000000000019C0000000803DAA...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 38.141705, 75.420105, 112.58787, 140.797...","[18.0, 18.1182, 18.568665, 18.237965, 17.30003...","[1e-05, 60.776775, 78.99788, 78.99595, 79.3095...","[69.0, 118.00433, 115.79638, 117.72328, 118.03...","[1e-05, 6.744568, 5.696991, 4.160349, 4.65892,...","[25.0, 6.357691, 6.28458, 6.255208, 5.866589, ...","[0.0, 6.701542, 5.559884, 4.235624, 4.902388, ..."
2,9ec542cb1a44509fd87521c5743d400987df1433b48544...,ef33b1f6295728ab85be787754de13ef0f22d85546dc95...,2017-10-29 09:02:03,2017-10-29 09:02:03,42396.6,263.140,53.33,-6.25,219.0,203.0,...,0101000020E610000000000000000019C0000000803DAA...,0101000020E610000000000000000019C0000000803DAA...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 34.051785, 63.714027, 99.33842, 126.0090...","[17.8, 17.979973, 18.573772, 18.525688, 18.340...","[84.0, 86.831635, 87.57081, 85.98568, 88.64971...",[],"[1e-05, 5.229298, 5.400293, 5.635104, 4.725854...","[25.0, 5.686955, 5.31107, 5.518765, 5.250323, ...","[0.0, 5.178599, 5.229725, 5.649802, 4.773427, ..."
3,9ec8e3139fcd0b60af668440d0560c30d4eec6faf9ede5...,ffa2c7a60a904ff047b58e43bb4a1c17e55fbbcf173127...,2017-10-29 08:55:33,2017-10-29 08:55:33,42621.4,282.699,53.34,-6.25,213.0,212.0,...,0101000020E610000000000000000019C00000002085AB...,0101000020E610000000000000000019C00000002085AB...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 363.61026, 395.8846, 423.8148, 459.01483...","[17.1, 18.10048, 18.188477, 18.501003, 18.2008...",[],[],"[1e-05, 4.854006, 5.094511, 4.652123, 4.432908...","[25.0, 25.0, 25.0, 23.5453, 19.125616, 16.3804...","[0.0, 4.598914, 5.070293, 4.574117, 4.505633, ..."
4,9f0e9a093a823fcf03a22948c4e417c4de0a4bf126b865...,3168b39d03feaa62356a49abbadf57ccec493d7a25de23...,2017-10-29 09:00:25,2017-10-29 09:00:25,42489.4,195.000,53.33,-6.25,217.0,206.0,...,0101000020E610000000000000000019C0000000803DAA...,0101000020E610000000000000000019C0000000803DAA...,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 33.269478, 64.696045, 98.46664, 124.9062...","[-132.2, -131.97264, -131.61813, -131.48433, -...","[60.0, 92.47492, 94.040146, 94.219345, 96.0676...","[108.0, 129.89734, 134.17978, 135.58492, 141.1...","[1e-05, 5.756402, 4.844161, 4.206395, 4.504928...","[25.0, 5.546336, 5.391422, 5.470671, 5.204367,...","[0.0, 5.685999, 4.752145, 4.17603, 4.401713, 4..."

In [3]:
len(df)

3166

In [4]:
# checking the percentage of missing values
100 * (df.isnull().sum()/df.shape[0])

hashedid                       0.0
hashedathleteid                0.0
startdate                      0.0
startdatelocal                 0.0
totaldistance                  0.0
elevgain                       0.0
startlatapprox                 0.0
startlngapprox                 0.0
cumulative_elevation_gain      0.0
cumulative_elevation_loss      0.0
activity_id                  100.0
city_name                      0.0
country_code                   0.0
row_number                     0.0
geom                           0.0
geog                           0.0
distance_100                   0.0
time_100                       0.0
elevation_100                  0.0
cadence_100                    0.0
heartrate_100                  0.0
pace_diff_100                  0.0
pace_cumul_100                 0.0
gap_100                        0.0
dtype: float64

In [5]:
# removing activity_id since it is empty
df.drop('activity_id', axis=1, inplace=True)
df.columns

Index(['hashedid', 'hashedathleteid', 'startdate', 'startdatelocal',
       'totaldistance', 'elevgain', 'startlatapprox', 'startlngapprox',
       'cumulative_elevation_gain', 'cumulative_elevation_loss', 'city_name',
       'country_code', 'row_number', 'geom', 'geog', 'distance_100',
       'time_100', 'elevation_100', 'cadence_100', 'heartrate_100',
       'pace_diff_100', 'pace_cumul_100', 'gap_100'],
      dtype='object')

In [6]:
# dropping all the irrelevant columns
df.drop(['startdate', 'elevgain', 'startlatapprox', 'startlngapprox', 'cumulative_elevation_gain', 'cumulative_elevation_loss', 'row_number', 'geom', 'geog'], axis=1, inplace=True)
df.head()

,hashedid,hashedathleteid,startdatelocal,totaldistance,city_name,country_code,distance_100,time_100,elevation_100,cadence_100,heartrate_100,pace_diff_100,pace_cumul_100,gap_100
0,9a344e1b10a653c2cee3d40cabd615d46d2604198b15bb...,197b3e2a67167805191c315e64640e5b3aa0dae4a7cba3...,2017-10-29 09:10:29,42311.3,dublin,ie,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 38.98845, 75.44795, 112.36312, 143.05545...","[18.3, 17.900051, 17.956602, 17.997967, 17.303...",[],"[124.0, 138.00153, 158.49796, 172.15256, 183.9...","[1e-05, 6.682236, 6.02834, 5.416158, 4.943549,...","[25.0, 6.498075, 6.287327, 6.242397, 5.960643,...","[0.0, 6.828764, 6.009906, 5.404039, 5.133536, ..."
1,9eab2135ab8c8182d2e6eb36c87606efa3418d31a7b152...,85ab08865f60f548c2a362aeadf7d2fac801b0b75d0c21...,2017-10-29 09:10:39,42461.3,dublin,ie,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 38.141705, 75.420105, 112.58787, 140.797...","[18.0, 18.1182, 18.568665, 18.237965, 17.30003...","[1e-05, 60.776775, 78.99788, 78.99595, 79.3095...","[69.0, 118.00433, 115.79638, 117.72328, 118.03...","[1e-05, 6.744568, 5.696991, 4.160349, 4.65892,...","[25.0, 6.357691, 6.28458, 6.255208, 5.866589, ...","[0.0, 6.701542, 5.559884, 4.235624, 4.902388, ..."
2,9ec542cb1a44509fd87521c5743d400987df1433b48544...,ef33b1f6295728ab85be787754de13ef0f22d85546dc95...,2017-10-29 09:02:03,42396.6,dublin,ie,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 34.051785, 63.714027, 99.33842, 126.0090...","[17.8, 17.979973, 18.573772, 18.525688, 18.340...","[84.0, 86.831635, 87.57081, 85.98568, 88.64971...",[],"[1e-05, 5.229298, 5.400293, 5.635104, 4.725854...","[25.0, 5.686955, 5.31107, 5.518765, 5.250323, ...","[0.0, 5.178599, 5.229725, 5.649802, 4.773427, ..."
3,9ec8e3139fcd0b60af668440d0560c30d4eec6faf9ede5...,ffa2c7a60a904ff047b58e43bb4a1c17e55fbbcf173127...,2017-10-29 08:55:33,42621.4,dublin,ie,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 363.61026, 395.8846, 423.8148, 459.01483...","[17.1, 18.10048, 18.188477, 18.501003, 18.2008...",[],[],"[1e-05, 4.854006, 5.094511, 4.652123, 4.432908...","[25.0, 25.0, 25.0, 23.5453, 19.125616, 16.3804...","[0.0, 4.598914, 5.070293, 4.574117, 4.505633, ..."
4,9f0e9a093a823fcf03a22948c4e417c4de0a4bf126b865...,3168b39d03feaa62356a49abbadf57ccec493d7a25de23...,2017-10-29 09:00:25,42489.4,dublin,ie,"[0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0...","[0.0, 33.269478, 64.696045, 98.46664, 124.9062...","[-132.2, -131.97264, -131.61813, -131.48433, -...","[60.0, 92.47492, 94.040146, 94.219345, 96.0676...","[108.0, 129.89734, 134.17978, 135.58492, 141.1...","[1e-05, 5.756402, 4.844161, 4.206395, 4.504928...","[25.0, 5.546336, 5.391422, 5.470671, 5.204367,...","[0.0, 5.685999, 4.752145, 4.17603, 4.401713, 4..."

In [7]:
# checking for duplicate rows and keeping the first instance 
df.drop_duplicates(subset=['hashedid'], keep='first', inplace=True)

In [8]:
df.to_pickle("./cleanedDublin.pkl")